.diary {
  display: flex;
  justify-content: space-around;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.headers-row {
  display: flex;
  flex-direction: row;
}

.diary-row {
  display: flex;
  flex-direction: row;
}

.grid-item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
}

.grid-item.diary-data-name {
  min-width: 200px;
  justify-content: flex-start;
}

.all-diary-content {
  display: flex;
  justify-content: space-around;
}

.diary-heading {
  text-align: center;
  border-bottom: solid black 2px;
}

.diary-list-table-heading {
  text-align: left;
}

.diary-data-id {
  display: none;
}

.diary-data-name {
  min-width: 175px;
}

.diary-data-calorie {
  text-align: right;
}

.diary-data-delete {
  padding: 0 15px;
}

.form-diary-name {
  display: flex;
  justify-content: space-between;
}

form {
  line-height: 160%;
}

.meal-data-name, .goal-calories-table {
  min-width: 175px;
}

.meal-data-calorie {
  min-width: 50px;
  text-align: right;
}

.meal-data-delete {
  min-width: 25px;
  text-align: right;
}

.total-calories {
  text-align: right;
  padding-right: 32px;
  font-weight: bold;
}

.remaining-calories {
  text-align: right;
  padding-right: 32px;
  font-weight: bold;
}

.heading, .selection-heading {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.foods-heading, .selection-heading {
  margin-top: 10px;
}

.selection-buttons {
  padding-top: 5px;
  text-align: center;
}

.meal-table {
  border: solid black 2px;
}

.meal-calorie-count {
  border-left: solid black 2px;
  border-right: solid black 2px;
  border-bottom: solid black 2px;
  margin-bottom: 10px;
}

.filter-diary {
  padding-bottom: 2px;
  border-bottom: solid black 2px;
}

.green {
  color: green;
}

.red {
  color: red;
}
