.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.heading {
  background-color: #1976D2;
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.food-row, .headers-row {
  display: flex;
  flex-direction: row;
  padding: 3px;
}

.food-row:nth-of-type(odd){
  background: lightgray;
  border-radius: 3px;
}

.grid-item {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 50px;
}

.grid-item.food-data-name {
  min-width: 200px;
  justify-content: flex-start;
}

.all-foods-content {
  display: flex;
  justify-content: space-around;
}

.food-data-id {
  display: none;
}

.food-heading {
  text-align: center;
}

.foods-list-table-heading {
  text-align: left;
}

.food-data-calorie {
  padding: 0 2px;
  text-align: end;
}

.food-data-delete {
  padding: 0 15px;
}

.form-food-name {
  display: flex;
  justify-content: space-between;
}

form {
  line-height: 160%;
}
